/* menu styles */
#nav-buttons {
	float: right;
	margin-top: 5px;
	margin-right: 5px;
}

.btn {
	border-style: none;
	border-radius: 2px;
	padding: 15px;
	color: #676767;
	letter-spacing: 0.4px;
	margin-right: 0;
	font-family: 'Work Sans', sans-serif;
}

.btn:hover {
	background-color: #FFE8CF;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.open>.dropdown-toggle.btn-default:focus, .open>.dropdown-toggle.btn-default:hover {
    color: #676767;
    background-color: #FFE8CF;
    border-color: #8c8c8c;
}

/* removing box shadows from menu */
.btn-group.open .dropdown-toggle {
	background-color: #FFE8CF;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.dropdown-menu>li>a {
    font-family: 'Work Sans', sans-serif;
    color: #676767;
}

.dropdown-menu {
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 3px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#logo {
	height: 60px;
	margin-top: 5px;
	margin-left: 10px;
	margin-right: 10px;
}

/* sign up page styles */ 
#container {
	width: 80%;
	margin: 20px auto 0 auto;
}

#lady {
	/*height: 400px;*/
	display: block;
	width: 250px;
	margin-right: 35px;
	float: left;
}

#submit {
	padding-top: 200px;
}

/* mailchimp subscribe button */ 
#mc-embedded {
    width: auto;
    display: block;
    margin: 1em 0 1em 5%;
    font-family: 'Work Sans', sans-serif;
}

h2 {
    font-family: 'Work Sans', sans-serif;
}

label {
   font-family: 'Work Sans', sans-serif;
}