body {
	max-width: 960px;
	margin: 0 auto;
	font-family: 'Work Sans', sans-serif;
}

/* menu styles */
#nav-buttons {
	float: right;
	margin-top: 10px;
	margin-right: 5px;
}

.btn {
	border-style: none;
	border-radius: 2px;
	padding: 15px;
	color: #676767;
	font-size: 16px;
	letter-spacing: 0.4px;
	margin-right: 0;
}

.btn:hover {
	background-color: #FFE8CF;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
	background-color: #fff;
	/*color: #2A8C93;*/
    outline: 0 none;
    border-bottom: 2px solid #FFE8CF;
    border-radius: 0px;
}

/*.btn:focus:hover, .btn:active:focus:hover, .btn.active:focus:hover {
	border-bottom: 0px;
}*/

.open>.dropdown-toggle.btn-default:focus, .open>.dropdown-toggle.btn-default:hover {
    color: #676767;
    background-color: #FFE8CF;
    border-color: #8c8c8c;
}

/* removing box shadows from menu */
.btn-group.open .dropdown-toggle {
	background-color: #FFE8CF;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.dropdown-menu>li>a {
    color: #676767;
}

.dropdown-menu {
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 3px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#logo {
	height: 60px;
	margin-top: 5px;
	margin-left: 10px;
	margin-right: 10px;
}

/* sign up page styles */ 
#container {
	width: 90%;
	margin: 20px auto 0 auto;
}

#lady {
	display: block;
	width: 250px;
	margin-right: 35px;
	float: left;
}

#submit {
	padding-top: 135px;
}

.signup {
	padding: 10px;
}

/* mailchimp subscribe */ 
#mc-embedded {
    width: auto;
    display: block;
    border: none;
    margin-left: 3px;
    background-color: #FFE8CF;
    /*margin: 1em 0 1em 5%;*/
}

.dropdown-menu>li>a {
    color: #676767;
}

button, input, select, textarea {
    color: #676767;
    font-size: 16px;
}

input {
	width: 50%;
	/*height: 30px;*/
	font-size: 20px;
	float: left;
	margin-right: 15px;
	padding: 5px
}

input:focus {
	outline:none;
}

#intro {
	font-size: 16px;
	margin-bottom: 30px;
}

#signup {
	font-size: 16px;
	color: #2A8C93;
}

h2 {
	font-size: 40px;
	margin-bottom: 30px;
}

/*lesson styles*/
.lesson {
	width: 600px;
	margin: 40px auto 0 auto;
	/*text-align: center;*/
}

.lesson-copy {
	font-size: 20px;
}

/*audio player styles*/

audio {
	/*min-width: 600px;*/
	margin: 0 auto;
}

.audiojs {
	font-family: 'Work Sans', sans-serif;
	font-size: 14px;
	letter-spacing: 0.3px;
	box-shadow: none;
	margin: 0 auto;
	border-radius: 5px;
}

.audiojs .play-pause {
	width: auto;
	border-right: 1px solid #fff;
}

.audiojs .scrubber {
	border-top: 0px;
}

.audiojs .time {
	text-shadow: none;
	border-left: 1px solid #fff;
}

ul {
	list-style-type: none;
}